/TECH/**/bin
/TECH/**/Debug
/TECH/**/staticwebassets.pack.sentinel
/TECH/.vs/TECH/FileContentIndex/*.vsidx
/**/obj
/TECH/.vs
/TECH/**/.dll
TECH/TECH/bin/Debug/net6.0/TECH.dll
/TECH/.vs/ProjectEvaluation/tech.projects.v5.1 
/test1.txt
